.gradle
.kotlin
**/.DS_Store
**/.idea
*screenshot*_*.*
*video_*.mp4*
*video_*.mov*
query_all_*.dump
bin/*
*android_device_logs*
build/reports
build/gherkin_reports
build/rspec_reports
build/artifacts
**/.irb-history
reports/
staging-log/
*.log
*.dump
dump.rdb
C_/
.bundle
dry-run/
.vagrant
artifacts/
# Dev enviroment
parallel_cucumber_user_lock_file
util/logs/**
.generators
.rakeTasks

*.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/.teamcity.iml
.idea/shelf/agent_requirements.xml
.idea/shelf/agents/shelved.patch
.idea/shelf/agents.xml
.idea/shelf/agent_requirements/shelved.patch
.idea/kotlinc.xml
.idea/misc.xml
.idea/compiler.xml
.DS_Store

.idea/*
target/
target.cache/